@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.html-content a {
  @apply text-primary;
}

.white-links a {
  @apply !text-white !underline;
}

.html-content iframe {
  @apply rounded-lg w-full h-[400px];
}

.html-content img {
  @apply rounded-lg;
}

.html-content ul {
  @apply list-disc list-inside;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.underline-links a {
  @apply underline;
}

blockquote {
  border-left: 5px solid #2b76df;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.contrast-filter .bg-primary,
.contrast-filter .ring-primary,
.contrast-filter .bg-orange-400,
.contrast-filter .bg-gradient-to-b,
.grayscale-filter .bg-gradient-to-l,
.contrast-filter .border,
.contrast-filter img,
.contrast-filter iframe,
.contrast-filter .text-primary,
.contrast-filter .include-filters,
.contrast-filter .text-sc {
  filter: contrast(200%);
}

.grayscale-filter .bg-primary,
.grayscale-filter .ring-primary,
.grayscale-filter .bg-orange-400,
.grayscale-filter .bg-gradient-to-b,
.grayscale-filter .bg-gradient-to-l,
.grayscale-filter .border,
.grayscale-filter img,
.grayscale-filter iframe,
.grayscale-filter .text-primary,
.grayscale-filter .include-filters,
.grayscale-filter .text-sc {
  filter: grayscale(100%);
}

.negative-contrast .bg-primary,
.negative-contrast .ring-primary,
.negative-contrast .bg-orange-400,
.negative-contrast .bg-gradient-to-b,
.negative-contrast .bg-gradient-to-l,
.negative-contrast .border,
.negative-contrast img,
.negative-contrast iframe,
.negative-contrast .text-primary,
.negative-contrast .include-filters,
.negative-contrast .text-sc {
  filter: invert(100%);
}

.large-text {
  font-size: 22px !important;
}

.large-text .text-sm {
  font-size: 18px !important;
}

.readable-font main {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

.light-background [class^="bg-"],
.light-background [class*=" bg-"] {
  @apply !bg-white !text-black !border;
}

.light-background .accessibility-active {
  @apply !bg-gray-200 !border-none;
}

.light-background [class^="bg-"],
.light-background [class*=" bg-"],
.light-background [class^="text-"],
.light-background [class*=" text-"] {
  @apply !text-black;
}
