@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

.html-content a {
    @apply text-primary;
}

.white-links a {
    @apply !text-white !underline;
}

.html-content iframe {
    @apply rounded-lg w-full h-[400px];
}

.html-content img {
    @apply rounded-lg;
}

.html-content ul {
    @apply list-disc list-inside;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
